S3_URI := s3whichwillhavejars
SUBNET_ID := subnetid
EC2_KEY := ec2key
SECURITY_GROUP := securityid
BACKEND := accumulo
MASTER_INSTANCE := m4.xlarge
WORKER_INSTANCE := m4.2xlarge
WORKER_COUNT := 4
DRIVER_MEMORY := 4200M
DRIVER_CORES := 2
EXECUTOR_MEMORY := 4200M
EXECUTOR_CORES := 2
YARN_OVERHEAD := 700
